<section id="questions-without-answers">
  <div><h2>Perguntas sem respostas<h2><div>
  <% if @questions.any? %>
    </div>
    <% @questions.each do |question|%>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col"><%= Question.human_attribute_name(:question) %></th>
            <th scope="col"><%= Question.human_attribute_name(:lot_id) %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= question.question %></th>
            <td><%= question.lot_id %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    </div>
  <% else %>
    <h3>Nenhuma pergunta sem respostas</h3>
  <% end %>
</section>