<section id="question-details" >
  <div>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col"><%= Question.human_attribute_name(:question) %></th>
            <th scope="col"><%= Question.human_attribute_name(:answer) %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= @question.question %></th>
            <td><%= @question.answer.answer %></td>
          </tr>
        </tbody>
      </table>
  </div>
</section>