<section>
  <div>
    <% if @items.present? %>
      <%= form_with(model:[@lot, @lot_item]) do |f| %>
      <div>
        <div>
          <%= f.label :item_id, "Itens" , class: "fs-2" %>
        </div>
        <div>
          <%= f.collection_select :item_id, @items, :id, :name, {}, { class: "w-25 form-select" } %>
        </div>
        <div>
          <%= f.submit I18n.t(:submit), class:"btn btn-primary mt-2" %>
        </div>
      </div>
      <% end %>
    <%else%>
      <h2>Não existem items disponíveis para adicionar ao lote! Por favor cadastre novos itens.</h2>
    <% end %>

  </div>
</section>