<section id="form-new-item" class="d-flex justify-content-center mt-2">
  <div>
    <h3><%= I18n.t(:register_new_item)%></h3>
    
    <%= render 'form' %>

    <div id="item-errors-message">
      <% if @item.errors.any? %>
      <ul class="list-group">
        <% @item.errors.full_messages.each do |msg|%>
        <li class="badge text-bg-warning mt-2"> <%= msg %> </li>
        <% end %>
      </ul>  
      <% end %>
    </div>

  </div>
</section>