<section id="finished-details">
  <div class="container-fluid">
    <div>
      <h1>Detalhes do lote<h1>
    <div>
    <%= render 'table' %>
  </div>




  <div class="container-fluid">
    <div id = "bids">
      <% if @lot.finished_bids %>
        <% if @lot.user_bid_lots.any?%>
          <h3>Lances encerrados para esse lote</h3>
          <p>Lance vencendor: R$<%= @lot.last_bid %><p>
        <% else %>
          <h3>Lote não teve lances computado<h3>
        <% end %>
      <% end %>
    </div>
  <div>  

  <%= render 'items' %>

<section>  