/* body */
body{
  background: #e3eeff;
}
.position-absolute.bottom-0.end-0{
  margin-right: 10px;
}

/* //nav-logout */
#nav-logout{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  align-content: center;
}

#nav-logout span{
  margin: 5px;
  }
.navbar-brand{
  margin: 5px;
}
.html body nav.navbar.navbar-expand-lg.navbar-light.bg-light{
  display: flex;
  align-items: center
}

/* //form-login */

#form-login{
  margin-top: 50px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.55);
  box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.55);
}
#form-login .field input{
  margin: 5px;
  font-size:15px; 
  padding:5px; 
  border-width :0px; 
  border-bottom-width: 1px;
  border-color: #000000;
}
#form-login .actions input{
  margin-top: 5px;
  margin-bottom: 5px;
}

/* //form-register */

#form-register{
  margin-top: 50px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.55);
  box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.55);
}
#form-register .field input{
  margin: 5px;
  font-size:15px; 
  padding:5px; 
  border-width :0px; 
  border-bottom-width: 1px;
  border-color: #000000;
}
#form-register .actions input{
  margin-top: 5px;
  margin-bottom: 5px;
}

html body div section.d-flex.justify-content-center div#form-register form#new_user.new_user{
  display: flex;
  flex-direction: column;
  align-items: center
}

#error_explanation h3{
  font-size: 20px;
}

.field .field_with_errors{
  float: left;
}
.field .field_with_errors input {
  border-width :0px; 
  border-bottom-width: 5px;
  border-color: #ff0000;
  background-color: #ffb6b6;
}
/* //form-password */

#form-password{
  margin-top: 50px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.55);
  box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.55);
}
#form-password .field input{
  margin: 5px;
  font-size:15px; 
  padding:5px; 
  border-width :0px; 
  border-bottom-width: 1px;
  border-color: #000000;
}
#form-password .actions input{
  margin-top: 5px;
  margin-bottom: 5px;
}

/* //item-new */

section#form-new-item div div.field_with_errors input{
  border-color: #ff2d2d;
}

/* //item-show */

section#item-details div{
  display: flex;
  flex-direction: column;
}

section#item-details div div img.item-image{
  width: 200px;
  height: 200px;
}

/* show-bids */
div#bids{
  list-style-type: none;
  font-size: 20px;
  display: flex;
  float: right;
  margin: 5px;
}

div#bids form{
  display: flex;
  align-items: center;
  gap: 5px;
}

/* lots-items */

body div section#lot-details div#items{
  display: flex;
  flex-wrap: wrap;
}
